<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/build/tailwind.cs" />
    <title>Radio</title>
</head>

<body class="bg-blue-500 flex justify-center items-center h-screen">
    <!-- <h1>Tailwind CSS</h1> -->
    <div class="radio-group flex flex-col w-full max-w-md gap-y-4"
        x-data="{ radio: 1, activeClass: 'ring-4 ring-blue-300'}">
        <div @click="radio = 1" :class="radio === 1 ? activeClass : ''"
            class="radio bg-white rounded-xl p-4 flex justify-between items-center cursor-pointer caret-transparent">
            <div>
                <h2 class="font-bold">Startup</h2>
                <span>12GB/6CPUs . 160 GB SSD Disk</span>
            </div>
            <div x-show="radio === 1"
                class="h-8 w-8 bg-blue-500 text-white rounded-full flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
            </div>
        </div>
        <div @click="radio = 2" :class="radio === 2 ? activeClass : ''"
            class="radio bg-white rounded-xl p-4 flex justify-between items-center cursor-pointer caret-transparent">
            <div>
                <h2 class="font-bold">Startup</h2>
                <span>12GB/6CPUs . 160 GB SSD Disk</span>
            </div>
            <div x-show="radio === 2"
                class="h-8 w-8 bg-blue-500 text-white rounded-full flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
            </div>
        </div>
        <div @click="radio = 3" :class="radio === 3 ? activeClass : ''"
            class="radio bg-white rounded-xl p-4 flex justify-between items-center cursor-pointer caret-transparent">
            <div>
                <h2 class="font-bold">Startup</h2>
                <span>12GB/6CPUs . 160 GB SSD Disk</span>
            </div>
            <div x-show="radio === 3"
                class="h-8 w-8 bg-blue-500 text-white rounded-full flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
            </div>
        </div>
    </div>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>