<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/build/tailwind.css" />
    <title>Tabs</title>
</head>

<body class="bg-blue-500 flex justify-center items-center h-screen">
    <div class="w-full max-w-md">
        <!-- Tabs -->
        <ul class="flex justify-between items-center bg-blue-600 rounded-xl p-1 gap-x-1">
            <li
                class="p-2 flex-1 text-center cursor-pointer rounded-lg text-blue-800 bg-white caret-transparent ring-2 ring-offset-2 ring-offset-blue-400 ring-blue-300">
                پر
                طرفدار
            </li>
            <li class="p-2 flex-1 text-center hover:bg-blue-500 cursor-pointer rounded-xl text-white caret-transparent">
                محبوب</li>
            <li class="p-2 flex-1 text-center hover:bg-blue-500 cursor-pointer rounded-xl text-white caret-transparent">
                اخیر</li>
        </ul>

        <!-- Contents -->
        <div class="bg-white rounded-xl mt-2 p-3 flex flex-col">
            <div class="flex flex-col justify-center items-start">
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</h2>
                    <div class="text-sm text-gray-500">2 روز پیش . 9 نظر . 5 مشاهده </div>
                </article>
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h2>
                    <div class="text-sm text-gray-500">4 روز پیش . 1 نظر . 21 مشاهده </div>
                </article>
            </div>
            <!-- <div class="flex flex-col justify-center items-start">
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</h2>
                    <div class="text-sm text-gray-500">2 روز پیش . 9 نظر . 5 مشاهده </div>
                </article>
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h2>
                    <div class="text-sm text-gray-500">4 روز پیش . 1 نظر . 21 مشاهده </div>
                </article>
            </div>
            <div class="flex flex-col justify-center items-start">
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</h2>
                    <div class="text-sm text-gray-500">2 روز پیش . 9 نظر . 5 مشاهده </div>
                </article>
                <article class="hover:bg-gray-100 p-2 rounded-md w-full cursor-pointer">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h2>
                    <div class="text-sm text-gray-500">4 روز پیش . 1 نظر . 21 مشاهده </div>
                </article>
            </div> -->
        </div>
    </div>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>